extends layout


block imports
  script(type='text/javascript', src='js/dist/vendor.bundle.js')
  script(type='text/javascript', src='js/dist/bundle.js')

block content
  main(id='home')
    section.flex.five.content
      aside.full.fifth-1000
        h2 do stuff!
      article.full.four-fifth-1000
        h1 home!
        #coolstuff
