doctype html
html
  head
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/picnicss/6.1.2/picnic.min.css')
    link(rel='stylesheet', href='styles/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='styles/styles.css')

  body
    include ./header.pug
    block content
    block imports